html {
height: 100%;
}
.images img{
position:absolute;
}
body {
background:url(../images/irongrip.png) repeat;
padding: 0;
width:auto;
font-family: 'Microsoft Yahei','微软雅黑','宋体';
position: relative;
margin: 0;
-webkit-font-smoothing: antialiased;
text-rendering: optimizelegibility;
overflow-x:auto;
overflow-y:hidden;
}

a {
color: black;
}

.header {
padding: 8px 0 0;
width: 100%;
position:fixed;
left:10px;
top:8px;
}

.wrapper {
height: auto !important;
height: 100%;
margin: 0 auto; 
overflow: hidden;
}

a {
text-decoration: none;
}
.pointer {
color: #00B0FF;
font-size: 24px;
margin-top: 15px;
position: absolute;
top: 130px;
right: -40px;
}
.pointer2 {
color: #00B0FF;
font-size: 24px;
margin-top: 15px;
position: absolute;
top: 130px;
left: -40px;
}
pre {
margin: 80px auto;
}
pre code {
padding: 35px;
border-radius: 5px;
font-size: 15px;
border: rgba(0,0,0,0.05) 5px solid;
max-width: 500px;
}


.main {
width: auto;
margin: 0 auto;
}

.header h1 {
display:inline-block;
font-size: 36px;
border-radius:10px;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
font-weight: 100;
margin: 0 10px;
letter-spacing: -1px;
text-transform: capitalize;
color:#fff;
}

.btn {
width: auto;
padding:6px 20px;
border-radius:10px;
margin-right:30px;
-webkit-box-shadow: none;
box-shadow: none;
border: 1px solid #fff;
background: #fff;
color:#333;
}
.clear {
width: auto;
}
.btn:hover {
background-color:#eee;
color: #333;
}

.container {
margin: 74px 0 40px 0;
padding:20px;
background: rgba(255,255,255,1);
}

.page-container {
float: left;
width: 100%;
margin: 0 auto 300px;
position: relative;
}

.header {
overflow: hidden;
clear: both;
}

.main {
position: relative;
}

.shuffle-me {
margin: 2%;
display: block;
position: relative;
}

.info {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.35);
padding: 20px;
text-align: center;
display: block;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
z-index:999;
}

.info h1 {
font-weight: bold;
color: white;
font-size: 20px;
margin: 55px 0 0;
text-transform: uppercase;
letter-spacing: 1px;
padding: 0;

}

.info h1 a {
color: #fff; 
}
.info h2 {
margin-top: 0;
color: white;
font-size: 14px;
font-style: italic;
}
.shuffle-group {
position: relative;
display:inline-block;
margin-bottom: 0;
}

.shuffle-group .shuffle-me {
width: 100%;
margin: 0;
}

.shuffle-group .shuffle-me:nth-child(2n){
	margin-top:5px;
}
/*打开相册层*/
#cover{
	position:fixed;
	top:5%;
	left:5%;
	width:90%;
	height:90%;
	z-index:1000;
	background:#fff;
	box-shadow:0 0 6px #aaa; 
	display:none;
}
.close{
	color:#666;
	font-size:56px;
	line-height:.5em;
	position:absolute;
	right:10px;
	top:10px;
}
.slider-nav{
	position:absolute;
	width:5%;
	text-align:center;
	list-style:none;
	padding:0;
}
.slider-nav li{
	background:#333;
	width:16px;
	height:16px;
	margin:30px auto;
	border-radius:10px;
	border:1px inset #666;
}
.slider-nav li a{
	display:block;
	width:16px;
	height:16px;
}

.slider-con{
	position:absolute;
	height:100%;
	width:90%;
	left:5%;
}
.fr{
	float:right;
}
.slider-con img{
	position:absolute;
	width:100%;
	height:100%;
	transition:all .5s linear;
	display:none;
}
.slider-con img:first-child{
	display:inline-block;
}
.slider-con img:target{
	display:inline-block;
}
.clearfix{
	*zoom:1;
}
.clearfix:after{
	visibility:hidden;
	display:block;
	content:"";
	height:0;
	clear:both;
}

